---
import Layout from "../../layouts/Layout.astro";
import Search from "../../components/Search";
import type { Album, Collection, Song as SongType } from "../../types";
import { createAlbumSlug } from "../../lib/url";
import AlbumHeader from "../../components/AlbumHeader";
import Song from "../../components/Song";
import Player from "../../components/Player";


export async function getStaticPaths() {
  const response = await fetch('https://itunes.apple.com/us/rss/topalbums/limit=100/json');
  const data = await response.json() as { feed: { entry: Album[] } }
  const entries = data.feed.entry;
  
  const paths = entries.map((entry) => ({
    params: { 
      name : createAlbumSlug(entry)
    },
    props: { entry, albums: entries }
  }));
  return paths
}

const entry = Astro.props.entry as Album;
const albums = Astro.props.albums as Album[];
const albumResp = await fetch(`https://itunes.apple.com/lookup?id=${entry.id.attributes['im:id']}&entity=song`);
const albumData = await albumResp.json() as { results: (SongType | Collection)[] };
const songs = albumData.results.filter((result): result is SongType => result.wrapperType === 'track');

---

<Layout title={`${entry['im:name'].label} - ${entry['im:artist'].label}`} description={`Album ${entry['im:name'].label} by ${entry['im:artist'].label} with the songs ${songs.map((song) => song.trackName).join(', ')}`}>
  <Search client:only albums={albums} />
  <main class="w-full max-w-full z-0 relative">
    <AlbumHeader 
      client:load 
      contentType={entry['im:contentType']['im:contentType'].attributes.label}
      title={entry['im:name'].label} 
      backgroundImage={entry['im:image'][0].label}  
      artist={entry['im:artist'].label}
      image={entry['im:image'][2].label}
    />
    <div class="pb-4 pl-10 pr-10 w-full">
      <p class="text-lg text-white pb-10">
        <span class="font-bold">Released:</span>
        {entry['im:releaseDate'].attributes.label}
      </p>
      <h2 class="text-3xl font-bold text-white pb-4">Songs ({songs.length})</h2>
      <div>
        {songs.map((song) => (
          <Song
            client:load
            trackNumber={song.trackNumber}
            trackName={song.trackName}
            artistName={song.artistName}
            trackTimeMillis={song.trackTimeMillis}
            song={song}
          />
        ))}
      </div>
      <p class="text-md text-slate-400 pt-10 pb-20">
        {entry.rights.label}
      </p>
    </div>
  </main> 
  <Player client:only /> 
</Layout>


